{% extends 'base.html' %}
{% block title %}
      Apps
{% endblock %}

 {% block content %}

 <script src="http://cdn.datatables.net/1.10.25/js/jquery.dataTables.min.js"></script>
 <script src="http://cdn.datatables.net/1.10.25/css/jquery.dataTables.min.css"></script>

 <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.25/css/jquery.dataTables.css">
  
 <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.js"></script>




<body style="margin:20px auto">  
<div class="container">

<table id ="myTable" class="table table-hover table-dark">
   <thead>
      <tr>
         <!-- Your Columns HERE -->
         <th scope="col">App</th>
         <th scope="col">Category</th>
         <th scope="col">Rating</th>
         <th scope="col">Installs</th>
         <th scope="col">Type</th>
         <th scope="col">Price</th>
         <th scope="col">Content_Rating</th>
         <th scope="col">Genres</th>
         
      </tr>
   </thead>
   <tbody>
      <!-- Your rows inside the table HERE: -->
      {% for app_dets in Apps_list %} 
         <td><a class="btn btn-sm btn-secondary" href="{{ url_for('app_info',app_id = app_dets.AppId)}}">{{ app_dets.App }}</a>
          
         <td>{{ app_dets.Category }}</td>
         <td>{{ app_dets.Rating }}</td>
         <td>{{ app_dets.Installs }}</td>               
         <td>{{ app_dets.Type }}</td>   
         <td>{{ app_dets.Price }}</td>
         <td>{{ app_dets.Content_Rating }}</td>
         <td>{{ app_dets.Genres }} </td></td>
      </tr> 
      {% endfor %}
   </tbody>
</table> 
	  </div>
</body>  
<script>
$(document).ready(function(){
    $('#myTable').DataTable();
});
</script>
{% endblock %}

